.simon_shape {
	display: inline-block;
	border-radius: 50%;
	box-shadow: 0 0 3px gray;
	text-align: center;
	border: 5px solid black;
	height: 10em;
	width: 10em;
	font-size: 1em;
	color: white;

}

button.simon_shape:focus {
	outline: 0px;
}

button.simon_shape:hover {
	opacity: 5;
	outline: 0px;
}

#simon_shape_1 {
	background-color: #b10026;
}

#simon_shape_2 {
	background-color: #e31a1c;
}

#simon_shape_3 {
	background-color: #fc4e2a;
}

#simon_shape_4 {
	background-color: #fd8d3c;
}



